#torzs{
    width:65vw;
    margin: 0 auto;
    background-color: rgb(233, 232, 232);
    height: fit-content;
}
body{
    background-color: rgb(255, 255, 240);
    color:blue;
}
h1{
    text-align: center;
}
#erkezes{
    display: flex;
    flex-direction: row;
    margin-left: 7.5vw;
    margin-top: 1vh;
    margin-right: 2vw;
   
}
#tavozas{
    display: flex;
    flex-direction: row;
    margin-left: 7.5vw;
    
}

input[type=number]{
    width: 3.5vw;
    min-width: 23px;
    height: fit-content;
    margin-left: 3.32vw;
   
    height: fit-content;
   
   

    
}
#szobak3{
    margin-top: 2vh;
}
#szobak{
    display: flex;
    flex-direction: row;  
    margin-left: 7.5vw;
    margin-top: 2vh;
}
#ellatas{
    display: flex;
    flex-direction: row;
    margin-left: 7.5vw;
    margin-top: 2vh;
}
#furdosz{
    display: flex;
    flex-direction: row;
    margin-left: 7.5vw;
    margin-top: 2vh;
}
#kerdes{
    display: flex;
    flex-direction: row;
    margin-left: 7.5vw;
    margin-top: 2vh;
}
#kerdes2{
    margin-left: 0.5vw;
    margin-right: 3.5vw;
    
}
#furdosz2{
    margin-left: 2.3vw;
    margin-right: 3.5vw;
    
}
#szobak2{    
    margin-left: 5vw;
    margin-right: 0.5vw;
      
}
#ellatas2{
    margin-left: 7.5vw; 
    margin-right: 3.5vw;
}
input[type=datetime]{
    margin-left: 3.8vw; 
    height: fit-content;
    width: 13vw;
   
    
}

#vendeletkora{
    display: flex;
    flex-direction: row;  
    margin-left: 7.5vw;
    margin-top: 2vh;
}
#vendegeletkora2{
    display: flex;
    flex-direction: row; 
    margin-right: 2vw;
    
}
#vendszama{
    margin-left: 7.5vw;
}
hr{
    width:45vw;
}
#vendsz{
    margin-left: 3.5vw;
}
#kerdes{
    margin-left: 7.8vw;
}
textarea{
    margin-right: 2.5vw;
    width:25vw;
    height: 20vh;
}
#gomb{
    width:150px;
    height: 30px;
    
       
}
#ezegygomb{
    margin: 0 auto;
    margin-top: 2vh;
    
    
}

